@use 'theme';

.catalogue {
  margin: 100px 250px;
  display: flex;
  flex-direction: column;
}

.catalogue-head-text {
  font-weight: bold;
}

.catalogue-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.catalogue-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
}

.catalogue-tools {
  font-size: theme.$font-size-medium;
  font-weight: bold;
  display: flex;
  gap: 3rem;
}

.catalogue-tool {
  display: flex;
  gap: 1rem;
}