@use "theme";
@use "menubar";
@use "footer";
@use "banner";
@use "pages/nos-velos/catalogue";
@use "pages/nos-velos/card";
@use "pages/contact";
@use "pages/services";
@use "pages/qui-sommes-nous/qui-sommes-nous";
@use "responsive";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: theme.$font-family-base;
}

html, body {
  height: 100%;
  background-color: theme.$color-background;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}